html {
  font-family: Arial, Helvetica, sans-serif;
}

.main-block {
  margin: 100px auto;
  width: 75%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.main-block h1 {
  text-align: center;
  width: 100%;
}

/* ElementCreator */

.task-creator {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.task-creator h3 {
  margin-top: 20px;
}

.task-creator .task-form input {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid gray ;
  background-color: gray;
  color: black;
  margin-bottom: 20px;
}

.task-creator .task-form input::placeholder {
  font-style: italic;
  color: #343434;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.task-creator .task-form input:focus::placeholder {
  color: transparent;
}

.task-form button {
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  padding: 5px 15px 5px 15px;
}

.task-form .notDisabled:hover {
  background-color: #828282;
  border: 1px solid #c2c2c2;
}